name: ESP-IDF Build

on:
  push:
    branches: [main]
    paths:
      - 'main/**'
      - 'managed_components/**'
      - 'scripts/**'
      - 'CMakeLists.txt'
      - 'sdkconfig'
      - 'sdkconfig.defaults'
      - 'partitions.csv'
      - '.github/workflows/**'
  pull_request:
    branches: [main]
    paths:
      - 'main/**'
      - 'managed_components/**'
      - 'scripts/**'
      - 'CMakeLists.txt'
      - 'sdkconfig'
      - 'sdkconfig.defaults'
      - 'partitions.csv'
      - '.github/workflows/**'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: ESP-IDF Build
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.5.2
          target: esp32
          path: '.'
